In [1]:
import pandas as pd
import os, csv
import numpy as np
from sqlalchemy import create_engine

In [8]:
data = os.path.join('Resources','cleaned_merged','cleaned_netflix_sag_data.csv')
data1 = pd.read_csv(data)
data_df = pd.DataFrame(data1).drop(columns='Unnamed: 0')
data_df

,id,show_id,type,director,full_name,title,release_year,description,category,won
0,279,80201906,Movie,Ryan Coogler,Chadwick Boseman,Black Panther,2018,"T'Challa, the superpowered new leader of the h...",CAST IN A MOTION PICTURE,True
1,280,80201906,Movie,Ryan Coogler,Michael B. Jordan,Black Panther,2018,"T'Challa, the superpowered new leader of the h...",CAST IN A MOTION PICTURE,True
2,282,80201906,Movie,Ryan Coogler,Danai Gurira,Black Panther,2018,"T'Challa, the superpowered new leader of the h...",CAST IN A MOTION PICTURE,True
3,283,80201906,Movie,Ryan Coogler,Martin Freeman,Black Panther,2018,"T'Challa, the superpowered new leader of the h...",CAST IN A MOTION PICTURE,True
4,284,80201906,Movie,Ryan Coogler,Daniel Kaluuya,Black Panther,2018,"T'Challa, the superpowered new leader of the h...",CAST IN A MOTION PICTURE,True
...,...,...,...,...,...,...,...,...,...,...
274,28777,607931,Movie,Jocelyn Moorhouse,Kate Nelligan,How To Make An American Quilt,1995,A conflicted young woman spends the summer wit...,CAST IN A MOTION PICTURE,False
275,28778,607931,Movie,Jocelyn Moorhouse,Alfre Woodard,How To Make An American Quilt,1995,A conflicted young woman spends the summer wit...,CAST IN A MOTION PICTURE,False
276,28784,607931,Movie,Jocelyn Moorhouse,Maya Angelou,How To Make An American Quilt,1995,A conflicted young woman spends the summer wit...,CAST IN A MOTION PICTURE,False
277,28788,607931,Movie,Jocelyn Moorhouse,Jean Simmons,How To Make An American Quilt,1995,A conflicted young woman spends the summer wit...,CAST IN A MOTION PICTURE,False
278,28791,607931,Movie,Jocelyn Moorhouse,Samantha Mathis,How To Make An American Quilt,1995,A conflicted young woman spends the summer wit...,CAST IN A MOTION PICTURE,False

In [105]:
actors = data_df[['id','full_name']].set_index('id')

titles = data_df[['show_id','title','type','release_year','description']].set_index('show_id').drop_duplicates()

act_ttl = data_df[['id','show_id']].set_index('id')

directors = data_df[['director']].rename(columns={'director':'directors_names'}).drop_duplicates()
directors['director_id'] = range(len(directors['directors_names']))

dir_ttl = data_df[['show_id']].drop_duplicates()
dir_ttl['director_id'] = directors['director_id']
dir_ttl = dir_ttl.dropna()
dir_ttl['director_id'] = [int(value) for value in directors['director_id']]
dir_ttl = dir_ttl.set_index('show_id')

awards = data_df[['category','won']]
awards['award_id'] = range(len(awards['won']))


act_award = data_df[['id']]
act_award['award_id'] = awards['award_id']
act_award = act_award.set_index('id')

dir_award = directors[['director_id']]
dir_award['award_id'] = awards['award_id']
dir_award = dir_award.set_index('director_id')

awards = awards.set_index('award_id')

             award_id
director_id
0                   0
1                  10
2                  18
3                  19
4                  20
5                  25
6                  37
7                  39
8                  46
9                  47
10                 70
11                 71
12                 80
13                 82
14                 91
15                 92
16                100
17                101
18                102
19                104
20                116
21                117
22                118
23                129
24                132
25                133
26                135
27                143
28                144
29                163
30                166
31                167
32                179
33                197
34                199
35                206
36                220
37                231
38                237
39                240
40                243
41                251
42                270
43                271